<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qianluohan.basic.dao.common.LoginDao">

    <select id="validateLoginForm" resultType="com.qianluohan.basic.entity.common.Captcha">
        select * from t_captcha where code = #{params.captcha} and uuid = #{params.uuid}
    </select>

</mapper>